<!-- <div class="fixed-top">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div> -->
  <nav class="navbar navbar-light bg-white border">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
           <a class="navbar-brand text-info small" href="#">Body Placement Optimezer Tool</a>
           <!-- <p class="navbar-brand text-info small">Body Placement Optimezer Tool</p> -->
      </button>
          <a class="nav-link dropdown-toggle nav-link disabled " href="#" id="navbardrop" data-toggle="dropdown ">
            Welcome John Doe
          </a>
          <div class="dropdown-menu bg-success">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
    </nav>